doctype html
html
  head
    title Buddy Builder
    link(rel='stylesheet', href='/styles.css')
  body
    .overlay
      h1 Welcome to Buddy Builder
      form(action='#', method='post')
        label(for='name') Name:
        input(type='text', id='name', name='name')
        button(type='submit') Submit
