doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Buddy Builder
    link(rel="stylesheet", href="/styles.css")
  body
    .overlay
      header
        h1 Buddy Builder
        p Empowering Students, Together.
      main
        section#about-us
          h2 About Us
          p Buddy Builder is a collaborative platform designed to connect students with study buddies, share resources, and excel in academics. Whether you're prepping for exams, working on projects, or just looking for peer support, Buddy Builder has got your back!
        section#cta
          h2 Login & Sign-Up
          p Prompt for new users to register or existing users to log in.
          .buttons
            a.cta-button(href='/login') Log-In
            a.cta-button(href='/signup') Sign-Up

