doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Study Buddies - About Us
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css")
    link(rel="stylesheet", href="/css/about-us.css")

  body
    .app-container
      nav.sidebar
        .logo
          i.fas.fa-graduation-cap
          span Study Buddies
        .nav-links
          a.nav-link(href="/newsfeed")
            i.fas.fa-home
            span Home
          a.nav-link(href="/profile")
            i.fas.fa-user
            span My Profile
          a.nav-link(href="/chat")
            i.fas.fa-comments
            span Chats
          a.nav-link(href="/groups")
            i.fas.fa-users
            span Groups
          a.nav-link(href="/add-people")
            i.fas.fa-user-plus
            span Add People
          a.nav-link(href="/add_post")
            i.fas.fa-plus-circle
            span Add Post
          a.nav-link.active(href="/about-us")
            i.fas.fa-info-circle
            span About Us
          a.nav-link(href="/logout")
            i.fas.fa-sign-out-alt
            span Log Out

      .main-content
        header.top-bar
          .user-menu
            .notifications

        .content-area
          .page-header
            h1.page-title 
              i.fas.fa-info-circle
              | About Us

          .about-container
            .about-section
              h2.section-title Our Mission
              p.section-description 
                | At Study Buddies, our mission is to connect students and learners worldwide to foster collaboration, share knowledge, and build a supportive learning community.

            .about-section
              h2.section-title Our Vision
              p.section-description 
                | We envision a world where education is accessible to everyone, and learners can find the resources, support, and motivation they need to succeed.

            .about-section
              h2.section-title Meet the Team
              .team-members
                .team-member
                  img.member-avatar(src="/images/roman.png" alt="Roman")
                  h3.member-name Roman Reigns
                  p.member-role 
                .team-member
                  img.member-avatar(src="/images/maruf.png" alt="Maruf")
                  h3.member-name Maruf Ahmed
                  p.member-role 
                .team-member
                  img.member-avatar(src="/images/tom.png" alt="Tom")
                  h3.member-name Tom Hardy
                  p.member-role 
                .team-member
                  img.member-avatar(src="/images/alin.png" alt="Alin")
                  h3.member-name Alin
                  p.member-role
