extends layout

block head
  link(rel="stylesheet", href="/css/edit_profile.css")

block content
    .overlay
        h1 Edit Profile
        p This feature will be implemented in a later stage of the application.
        a.cta-button(href="/") Intro Page
        a.cta-button(href="/profile") Go back