extends layout

block head
  link(rel="stylesheet", href="/css/groups.css")

block content
  .overlay
    header
      h1 Groups
    main
      p This page is still in development and will be available after the chat page is fully functional.
      a.cta-button(href="/chat") Go to Chat
      a.cta-button(href="/newsfeed") Back to Home