extends layout

block head
  link(rel="stylesheet", href="/css/styles.css")

block content
  .overlay
    header
      h1 Study Buddies
      p Empowering Students, Together.
    main
      section#about-us
        h2 About Us
        p Study Buddies is a collaborative platform designed to connect students with study buddies, share resources, and excel in academics. Whether you're prepping for exams, working on projects, or just looking for peer support, Study Buddies has got your back!
      section#cta
        h2 Login & Sign-Up
        p Prompt for new users to register or existing users to log in.
        .buttons
          a.cta-button(href='/auth/login') Log In
          a.cta-button(href='/auth/signup') Sign Up
