doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Study Buddies - Log In
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css")
    link(rel="stylesheet", href="/css/login.css")

  body
    .login-page
      .login-left
        .branding
          i.fas.fa-graduation-cap
          h1 Study Buddies
          p Empowering learners to connect, collaborate, and achieve their goals.
        img.illustration(src="/images/login-illustration.svg" alt="Log In Illustration")

      .login-right
        .form-container
          h2 Welcome Back
          p.subtitle Log in to access your account and connect with your study buddies.
          if error
            p.error-message(style="color: red;")= error
          form(action="/auth/login" method="POST")
            .form-group
              label(for="email") Email Address
              input(type="email" id="email" name="email" placeholder="Enter your email" required)
            .form-group
              label(for="password") Password
              input(type="password" id="password" name="password" placeholder="Enter your password" required)
            button(type="submit") Log In
          p.new-user Don't have an account? 
            a(href="/auth/signup") Sign up here
          a.forgot-password(href="/auth/forgot-password") Forgot your password?
