doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Study Buddies - Sign Up
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css")
    link(rel="stylesheet", href="/css/signup.css")

  body
    .signup-page
      .signup-left
        .branding
          i.fas.fa-graduation-cap
          h1 Study Buddies
          p Empowering learners to connect, collaborate, and achieve their goals.
        img.illustration(src="/images/signup-illustration.svg" alt="Sign Up Illustration")

      .signup-right
        .form-container
          h2 Create Your Account
          if error
            p.error-message(style="color: red;")= error
          form(action="/auth/signup" method="POST")
            .form-group
              label(for="name") Name
              input(type="text" id="name" name="name" placeholder="Enter your name" required)
            .form-group
              label(for="email") Email Address
              input(type="email" id="email" name="email" placeholder="Enter your email" required)
            .form-group
              label(for="dob") Date of Birth
              input(type="date" id="dob" name="dob" required)
            .form-group
              label(for="password") Password
              input(type="password" id="password" name="password" placeholder="Enter your password" required)
            .form-group
              label(for="confirm-password") Confirm Password
              input(type="password" id="confirm-password" name="confirmPassword" placeholder="Confirm your password" required)
            button(type="submit") Sign Up
          p.already-user Already have an account? 
            a(href="/auth/login") Log in here
